@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0b1d16;
  color: white;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 100%;
}
